/.vs
/Projektmanagment/Dokumente/Dateien
*.cache
*.vsidx
/VSCode/Elektrogrrosshandel/Elektrogrrosshandel/obj
*.cache
*.json

/VSCode/Elektrogrrosshandel/.vs
/VSCode/Elektrogrrosshandel/.vs/Elektrogrrosshandel.slnx/v18
VSCode/Elektrogrrosshandel/.vs/Elektrogrrosshandel.slnx/v18/DocumentLayout.backup.json
VSCode/Elektrogrrosshandel/.vs/Elektrogrrosshandel.slnx/v18/DocumentLayout.json
VSCode/Elektrogrrosshandel/.vs/Elektrogrrosshandel.slnx/v18/.suo
